<!DOCTYPE html>
<html>
<head>
	<title>Impugnacion de una pregunta</title>
</head>
<body>
	<div style="width: 100%; text-align: center;"> 
		<div style="width: 60%;border: 1px solid black; border-radius: 5px;margin: auto;">
			<div  style="width: 100%;border-bottom: 1px solid black;background-color: #42424B;"> 
				<img width="200" src="https://panel.project2.justmarketing.es/image/logo.png" style="padding: 10px 0px;">
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Nombre</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>Juan Camilo Ordoñez Arbelaez</span>
				</div>
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Email</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>orarjuan@hotmail.com</span>
				</div>
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Pregunta</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>Según la Constitución Española, ¿Cuál de los siguientes votará el texto presentado por la Comisión Mixta que se forma para la toma de decisiones previstas en el artículo 94.1 ?</span>
				</div>
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Respuesta A</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>Las Cortes Generales y el Gobierno</span>
				</div>
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Respuesta B</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>Las Cortes Generales y el Gobierno</span>
				</div>
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Respuesta C</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>Las Cortes Generales y el Gobierno</span>
				</div>
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Respuesta D</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>Las Cortes Generales y el Gobierno</span>
				</div>
			</div>
			<div style="width: 100%;border-bottom: 1px solid black;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Correcta</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>B</span>
				</div>
			</div>
			<div style="width: 100%;display: flex;">
				<div style="width: 30%;border-right: 1px solid black;float: left;padding: 10px 20px;text-align: center;">
					<span>Justificacion</span>
				</div>
				<div style="width: 70%;float: left;padding: 10px 20px;text-align: center;">
					<span>Porque si</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>